@charset "utf-8";
/* CSS Document */

body 
{
	background:#edefec url(images/main_bg.jpg) repeat center center;
	color: #666; 
	/*font-size: 12px;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: justify;
}

div#wrapper 
{
	background:#edefec url(images/main_bg.jpg) repeat center center;
	position: absolute;
	width: 960px;
	height: 800px;
	
	top: 0px;
	padding: 5px;
	left: 50%;
	margin-left: -480px;
	
	/*border: thin solid #999;*/
}

div#banner
{
	position: absolute;
	width: 960px;
	top: 100px;
}


div#main
{
	position: absolute;
	top: 340px;
	padding: 0px;
	font-size: 12px;
}


div#footer
{
	position: absolute;
	width: 960px;
	height: 15px;
	top: 930px;
}

#footer a
{
	text-decoration: none;
	color: #666;
}

#footer a:hover
{
	text-decoration: none;
	color:#249cd3;
}

h1 
{
	margin:0;
	padding:28px 0 5px 0px;
	color:#3b3b3b;
	font:normal 30px/1.2em "Liberation sans", Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}

h2 
{ 
	font:normal 24px/1.5em "Liberation sans", Arial, 	Helvetica, sans-serif;
	padding:0px 0;
	margin:0px 0;
	color:#3b3b3b;
}

h3
{ 
	font:normal 14px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#3b3b3b;
}

p 
{ 
	margin:8px 0; 
	text-align: justify;
	padding:0 0 8px 0; 
	font:normal 12px/1.8em "Liberation sans", Arial, Helvetica, sans-serif;
}

li
{
	text-align: justify;
	font:normal 12px/1.8em "Liberation sans", Arial, Helvetica, sans-serif;
}

a
{
	text-decoration: none;
}
	
.alignleft 
{
	float: left;
}

.alignright 
{
	float: right;
}
