@charset "utf-8";
/* CSS Document */

div#top 
{
	
}

#top a
{
	display:block;
	margin:0; 
	color:#7d7d7d; 
	text-decoration:none;
	font-weight: bold;
}

#top a:hover
{
	color:#249cd3;
}

#top ul
{
	list-style-type:none;
	
}

.topItem
{
	position:absolute;
	left: 5px;
	font-size: 12px;
}

#logo
{
	top: 5px;
	float: left;
}

#home
{
	top: 15px;
	left: 705px;
}

#about
{
	top: 15px;
	left: 760px;
}

#services
{
	top: 15px;
	left: 815px;
}

#contact
{
	top: 15px; 
	left: 885px;
}
